<!-- <div class="forms">
    <form action="" id="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div  class="formItem">
            <label for="email" class="formItem">email</label>
            <input type="email" id="email" class="formItem" formControlName="email">
        </div>
        <div  class="formItem">
            <label for="password">password</label>
            <input type="password" id="password" class="formItem" formControlName="password">
        </div>
        <div class="formItem">
            <input [disabled]="!this.loginForm.valid" type="submit" value="Login">
            <a routerLink="/password" class="formItem">forgot password..?</a>
            <p [hidden]="!toShow" style="color:red">Incorrect email or password</p>
        </div>
        
    </form>
</div> -->
<div class="bg-black/80 cover pt-[100px] pb-[300px] " style="height:100%;width: 100%; ">
  <section class="login-form">
   
    <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="max-w-[350px] mx-auto  shadow-md p-6 bg-white text-black rounded-md border border-transparent">
        <h2 class="text-black m-6">Login</h2>
        <div class="mb-6">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2"
            >Email</label
          >
          <input
            formControlName="email"
            type="email"

            class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
            placeholder="you@site.com"
            aria-describedby="hs-input-helper-text"
          />
          <p
          *ngIf="this.loginForm.controls.email.errors?.['required'] && this.loginForm.controls.email.touched"
           class="text-sm text-red-500 mt-2" id="hs-input-helper-text">
            email is required.
          </p>
        </div>
        <label
          for="input-label-with-helper-text"
          class="block text-sm font-medium mb-2"
          >password</label
        >
        <input
          formControlName="password"
          type="password"
          id="input-label-with-helper-text"
          class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
          placeholder="you@site.com"
          aria-describedby="hs-input-helper-text"
          
        />
        <p
          *ngIf="this.loginForm.controls.password.errors?.['required'] && this.loginForm.controls.password.touched"
          class="text-sm text-red-500 mt-2"
          id="hs-input-helper-text"
        >
          password is required
        </p>
        <button
          [disabled]="!this.loginForm.valid"
          type="submit"
          class="hover:-translate-y-1 hover:scale-110 duration-300 mt-4 ms-5 py-3 px-20 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-800/60 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
        >
          Login
        </button>
       
        <p [hidden]="!toShow" style="color:red">Incorrect email or password</p>
      </div>
    </form>
  </section>
  <div class="max-w-[350px] mx-auto m-3 ps-3">
    <a routerLink="/password" class="hover:-translate-x-1 hover:scale-110 duration-300 hover:text-xl text-m text-white hover:text-red-500">new User?,create an account</a>
  </div>
 
</div>
