<div class="flex  w-full h-screen "> 
  
  <div class="bg-slate-800  flex items-center flex-col h-screen w-[20rem]">

   <nav class="w-full">

    <ul>
      <h1
      class="flex-none mt-3 mb-5 font-bold text-red-800 "
    >
      <i
        class="fa-solid fa-cart-shopping fa-lg m-2 "
        
      ></i
      >Inventory
    </h1>
      <h2 class="text-red-900 m-2 mt-3"><i class="fa-solid fa-bars text-blue-700"></i> Menu</h2>
      <li class="mb-4 mt-4"><a
        routerLink="/dashboard"
        routerLinkActive="activeUrl"
       [routerLinkActiveOptions]="{exact:true}"
      
        class="no-underline flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-blue-700 hover:text-blue-700 w-full text-white"
        >
        <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6 mr-4"
            >
              <path
                d="M11.644 1.59a.75.75 0 01.712 0l9.75 5.25a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.712 0l-9.75-5.25a.75.75 0 010-1.32l9.75-5.25z"
              />
              <path
                d="M3.265 10.602l7.668 4.129a2.25 2.25 0 002.134 0l7.668-4.13 1.37.739a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.71 0l-9.75-5.25a.75.75 0 010-1.32l1.37-.738z"
              />
              <path
                d="M10.933 19.231l-7.668-4.13-1.37.739a.75.75 0 000 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 000-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 01-2.134-.001z"
              />
            </svg>
          overview
      </a></li>
      <li class="mb-4"><a
        routerLink="products"
        routerLinkActive="activeUrl"
       
      
        class="no-underline flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-blue-700 hover:text-blue-700 w-full text-white"
        >
        <i class="fa-solid fa-store fa-lg mr-3"></i>
          Products
      </a></li>
      <li class="mb-4"><a
        routerLink="clients"
        routerLinkActive="activeUrl"
       
      
        class="no-underline flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-blue-700 hover:text-blue-700 w-full text-white"
        >
        <i class="fa-solid fa-user mr-3"></i>
          clients
      </a></li>
      <li class="mb-4"><a
        routerLink="sales"
        routerLinkActive="activeUrl"
       
      
        class="no-underline flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-blue-700 hover:text-blue-700 w-full text-white"
        >
        <i class="fa-solid fa-cart-shopping mr-3"></i>
          sales
      </a></li>
      <li class="mb-4"><a
        (click)="changeStatus()"
       
      
        class="no-underline flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-blue-700 hover:text-blue-700 w-full text-white"
        >
        <i class="fa-solid fa-arrow-right-from-bracket mr-3"></i>
         Log out
      </a></li>
    </ul>
   </nav> 
  </div>
  <div >
    <main class="px-10 py-6 w-full bg-black/80 h-screen overflow-auto 2xl:w-[100rem]">
      <router-outlet></router-outlet>
    </main>
  </div>
  </div>
