.forms{
    background-color: bisque;
    width: 500px;
    height: 300px;
    text-align: center;
    margin-left: 500px;
    padding-top: 100px;

    
    }
     
    .formItem{
        margin: 10px;
    }