
<div class="bg-black/80 cover pt-[100px] pb-[225px] overflow-hidden top-0" style="height:100%;width: 100%;">
  <section >
    <form action="" [formGroup]="registerForm" (ngSubmit)="getPassword()">
      <div class=" max-w-[350px] mx-auto shadow-md p-6 bg-white text-black rounded-md border border-transparent">
        <h2 class="m-6">Register</h2>
        <div class="mb-6">
          <label
            
            class="block text-sm font-medium mb-2"
            >First Name</label
          >
          <input
            formControlName="first_name"
            type="text"
    
            class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
            placeholder="you@site.com"
        
          />
          <p
          *ngIf="this.registerForm.controls.first_name.errors?.['required'] && this.registerForm.controls.first_name.touched"
           class="text-sm text-red-500 mt-2" id="hs-input-helper-text">
           First Name is required.
          </p>
        </div>
        <div class="mb-6">
            <label
      
              class="block text-sm font-medium mb-3"
              >Last Name</label
            >
            <input
              formControlName="last_name"
              type="text"
        
              class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
              placeholder="you@site.com"
  
            />
            <p
            *ngIf="this.registerForm.controls.last_name.errors?.['required'] && this.registerForm.controls.last_name.touched"
             class="text-sm text-red-500 mt-2" id="hs-input-helper-text">
              Last Name is required.
            </p>
          </div>
          <div class="mb-6">
            <label
              for="input-label-with-helper-text"
              class="block text-sm font-medium mb-2"
              >Email</label
            >
            <input
              formControlName="email"
              type="email"
              id="input-label-with-helper-text"
              class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
              placeholder="you@site.com"
              aria-describedby="hs-input-helper-text"
            />
            <p
            *ngIf="this.registerForm.controls.email.errors?.['required'] && this.registerForm.controls.email.touched"
             class="text-sm text-red-500 mt-2" id="hs-input-helper-text">
              email is required.
            </p>
          </div>
        <label
          for="input-label-with-helper-text"
          class="block text-sm font-medium mb-2"
          >password</label
        >
        <input
          formControlName="password"
          type="password"
          id="input-label-with-helper-text"
          class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
          placeholder="you@site.com"
          aria-describedby="hs-input-helper-text"
        />
        <p
        *ngIf="this.registerForm.controls.password.errors?.['required'] && this.registerForm.controls.password.touched"
          class="text-sm text-red-500 mt-2"
          id="hs-input-helper-text"
        >
          password is required
        </p>
        <button
          type="submit"
          class="hover:-translate-y-1 hover:scale-110 duration-300 max-w-[300px] mt-4 ms-4 py-3 px-20 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
        >
          register
        </button>
      </div>
    </form>
  </section>
</div>

  