<div class="bg-black/80 items-center justify-between mb-8 w-full">
  <app-create-sales> </app-create-sales>
  <div class="bg-white p-3">
    <a
    class="text-black hover:text-green p-3 border-transparent hover:border-blue-700" 
    routerLinkActive="activeUrl"
    routerLink="all-sales"><i class="fa-solid fa-cart-shopping m-2"></i>sales</a>
    <a 
    class="m-3 text-black p-3 border-bottom border-r-0 border-y-0 border-transparent hover:border-blue-700"
    routerLinkActive="activeUrl"

    routerLink="quicksales"><i class="fa-solid fa-bolt m-3"></i>Quick sale</a>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
