<div class="bg-black/80 items-center justify-between mb-8 w-full">
  <app-create-sales> </app-create-sales>
  <div class="bg-white p-3">
    <a
    class="no-underline text-black hover:text-green p-3 border-b-4 border-t-0 border-x-0 border-transparent hover:border-green-600" 
    routerLinkActive="activeUrl"
    routerLink="all-sales"><i class="fa-solid fa-cart-shopping m-2"></i>sales</a>
    <a 
    class="no-underline m-3 text-black p-3 border-b-4 border-t-0 border-x-0 border-transparent hover:border-green-600" 
    routerLinkActive="activeUrl"

    routerLink="quicksales"><i class="fa-solid fa-rocket m-2" ></i>Quick sale</a>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
