<div class="">
  <div class="flex items-center justify-between mb-8 text-white mt-5 mb-3" >
    <div>
      <h1 class="font-bold text-2xl ">Overview</h1>
      <p>All of your shortcuts.</p>
    </div>
    <div class="flex items-center">
      <button 
      (click)="navigate()"
      class="bg-yellow-500 text-white p-2 m-3 rounded-lg hover:p-4"><i class="fa-solid fa-bolt m-3"></i>Quick Sale</button>
      <input
        type="email"
        id="input-email-label"
        class="py-3 px-4 block border-2 w-80 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 bg-slate-800"
        placeholder="you@site.com"
      />

    </div>
  </div>
  
  <div class="grid grid-cols-3 gap-4 mb-4 text-white" >
    <div class="w-full h-[12rem] rounded-2xl border bg-slate-900 ">
      <div class="flex">

        <p class="font-bold m-3 text-[8rem] fa-fade text-red-400">{{totalsales}}</p>
        <p class="font-bold m-3 text-[2rem] ">Active Sales</p>
      </div>
      
    </div>
    <div class="w-full h-[12rem] rounded-2xl border bg-slate-900">
      <div class="flex">
        <p class="font-bold m-3 text-[8rem] fa-fade text-red-400">{{totalproducts}}</p>
        <p class="font-bold m-3 text-[2rem] ">Active products </p>
      </div>
     

<p></p>
    </div>
    <div class="w-full h-[12rem] rounded-2xl border bg-slate-900">
      <div class="flex">
        <p class="font-bold m-3 text-[8rem] fa-fade text-red-400">{{totalClients}}</p>
        <p class="font-bold m-3 text-[2rem] ">Active Users</p>
  
      </div>
    

    </div>
  </div>
    <div class="flex max-w-[50rem] xl:mx-auto">
      <button
      [disabled]="currentPage==1" 
  (click)="currentPage=currentPage-1"
       class=" mt-[14rem] mr-3 disabled:cursor-not-allowed  text-white text-2xl hover:bg-gray-700 p-4 hidden:border-red-500"><i class="fa-solid fa-angles-left fa-beat"></i></button>
      <div class="grid mt-5">
        <div class="grid grid-cols-2 gap-6 text-white mb-3 max-h-[200px] 2xl:w-[80rem] w-[50rem]">
          <div *ngFor="let sale of quickSaleData$ |pagination:currentPage:pageSize |async" class="bg-slate-900 p-4 border rounded-lg">
            <div class="flex items-center justify-between mb-4">
              <p class="font-medium">{{sale.name}}</p>
             
            </div>
            <p>created At: {{sale.created_at|date}}</p>
            <button
            (click)="addTosales(sale.id)"
            class="bg-blue-400 text-white p-3 rounded-md hover:bg-yellow-500 hover:p-5 hover:-translate-y-1 duration-300">add Sale 
              <i class="fa-solid fa-arrow-right "></i>
            </button>
          </div>
        </div>
      </div>
      <button
      [disabled]="currentPage==totalpages"
  (click)="currentPage=currentPage+1"
  
       class="mt-[14rem] ml-3 disabled:cursor-not-allowed text-white hover:bg-gray-700 p-4" ><i class="fa-solid fa-angles-right fa-beat  text-2xl"></i></button>
    
    </div>
 

  
</div>


