<div>
  <header
  *ngIf="showNavbar()"
    class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-red-900 text-sm py-2 top-0"
    [ngClass]="{ 'nav-scroll': !isFixed, 'nav-fixed': isFixed }"
  >
    <nav
      class=" w-full px-4 sm:flex sm:items-center sm:justify-between flex justify-between"
      aria-label="Global"
    >
      <div class="flex m-2">
        <h1
          class="flex-none text-xxl ms-0 font-semibold text-white dark:text-gray-800 "
        >
          <i
            class="fa-solid fa-cart-shopping fa-lg m-2 fa-shake"
            
          ></i
          >Inventory
        </h1>
      </div>
      <div
        id="navbar-dark"
        class="overflow-hidden transition-all duration-300 m-3 sm:m-1"
      >
        <div
          class="flex gap-5 mt-2 sm:flex-row sm:items-center sm:justify-end sm:mt-2"
        >
          <a
            class="login"
            routerLink="home"
            [routerLinkActive]="'active'"
            ><i class="fa-solid fa-house"></i> Home</a
          >
          <a class="login" routerLink="login" [routerLinkActive]="'active'"
            ><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Sign In</a
          >
          <a class="login " routerLink="dashboard" [routerLinkActive]="'active'"
            ><i class="fa-solid fa-bars-progress"></i> dashboard</a
          >
          <a class="login" routerLink="register" [routerLinkActive]="'active'"
            ><i class="fa-solid fa-user-plus"></i> Sign Up</a
          >
        </div>
      </div>
    </nav>
  </header>
</div>

<div #myDiv>
  <router-outlet></router-outlet>
</div>
