<div style=" background-color: white;color:black;" class="p-2 mt-[13rem] lg:mt-[8rem] md:mt-[10rem] sm:mt-[10rem]"> 
  
  <a
  routerLink="products"
  routerLinkActive="activeUrl"
 

    class="py-6 px-4 inline-flex justify-center items-center gap-2 rounded-md  border-gray-900 font-semibold text-sm
      "
  >
  <i class="fa-solid fa-store fa-lg"></i>
    Products
</a>
  <a
  routerLink="clients"
  routerLinkActive="activeUrl"
 

    class="py-6 px-4 inline-flex justify-center
     items-center gap-2 font-semibold
      text-sm
      "
  >
  <i class="fa-solid fa-user fa-lg"></i>
    clients
</a>
<a
routerLink="sales"
routerLinkActive="activeUrl"


  class="py-6 px-4 inline-flex justify-center
   items-center gap-2 font-semibold
    text-sm
    "
>
<i class="fa-solid fa-cart-shopping fa-lg"></i>
  Sales
</a>
  </div>
  <div style="overflow: hidden;">
    <router-outlet></router-outlet>

  </div>
