<div style=" background-color: white;color:black; "> 
  
  <a
  routerLink="products"
  routerLinkActive="activeUrl"
 

    class="py-6 px-4 inline-flex justify-center items-center gap-2 rounded-md  border-gray-900 font-semibold text-sm
      "
  >
  <img
  class="max-w-[30px] rounded-full"
   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDZHtHCVZd4Nml7kCBjmp34gKW52Vgf66PaFBpKLmzJZMiZJLtRpMJs12wCygO4fNkxqc&usqp=CAU" alt="">
    Products
</a>
  <a
  routerLink="clients"
  routerLinkActive="activeUrl"
 

    class="py-6 px-4 inline-flex justify-center
     items-center gap-2 font-semibold
      text-sm
      "
  >
  <img

  class="max-w-[30px] rounded-full"
  src="https://www.shutterstock.com/image-vector/manager-group-vector-icon-style-260nw-685042366.jpg" alt="">
    clients
</a>
  </div>
  <div style="overflow: hidden;">
    <router-outlet></router-outlet>

  </div>
