<div class="p-4 overflow-y-auto flex w-[70rem]">
  <table class="min-w-full divide-y divide-gray-200 mt-5">
      <thead class="bg-white">
        <th class="px-3 py-4 whitespace-nowrap">Sale Name</th>
        <th class="px-3 py-4 whitespace-nowrap">create At</th>
        <th class="px-3 py-4 whitespace-nowrap">Available products</th>
        <th class="px-3 py-4 whitespace-nowrap">Actions</th>

      </thead>
      <tbody *ngFor="let product of saleData$ |async" class="text-white">
        <tr  class="hover:bg-green-500 ">
          <td class="px-3 py-4 whitespace-nowrap">
            {{ product.name }}
          </td>
          <td class="px-3 py-4 whitespace-nowrap">
            {{ product.created_at | date }}
          </td>
          <td class="px-3 py-4 whitespace-nowrap">
           {{product.products.length}}
          </td>

           <td class="px-3 py-4 whitespace-nowrap">
            <button 
            (click)="addTosale(product.id)"
            class="bg-white p-3 rounded-full hover:rounded-md"><i class="fa-sharp fa-regular fa-plus" style="color: black;"></i></button>
            <a
            
            title="view details" 
           routerLink="{{product.id}}"
            class="bg-white p-3 rounded-full hover:rounded-md ms-5"><i class="fa-solid fa-eye" style="color: black;"></i></a>
           </td>  
        </tr>
      </tbody>
    </table>

</div>
<div>
  <router-outlet></router-outlet>

</div>
