/* You can add global styles to this file, and also import other style files */

// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: url('https://c8.alamy.com/comp/2D7NW07/hand-of-businessman-holding-inventory-management-inscription-business-success-concept-2D7NW07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@layer components{
    .login{
        @apply hover:-translate-y-1 hover:scale-110 duration-300 font-medium text-gray-400 hover:text-blue-500 hover:text-[20px];
    };
    .pagination{
        @apply bg-red-500 text-white
    }
    .createClient{
        @apply border-2 border-black mt-5 max-w-[500px] py-3 border px-4 block w-full border-gray-500 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500
    }
    .activeUrl{
        @apply  text-red-900 bg-slate-300/50;
    }
    
   
}
