/* You can add global styles to this file, and also import other style files */

// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: url('https://c8.alamy.com/comp/2D7NW07/hand-of-businessman-holding-inventory-management-inscription-business-success-concept-2D7NW07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}